<div class="container">
    <h2>Haz click en los botones <small>o ingresa el color en la barra de direcciones</small></h2>

    <div class="container-fluid my-4">
        {{>botones }}
    </div>
    <div class="container-fluid mb-4 text-center">
        {{>spinner }} 
    </div>
   
</div>

