<ul>
    <li><a href="/">inicio</a>></li>
    <li><a href="/contacto">contacto</a></li>
    <li><a href="/quienes">quienes somos</a></li>
    <li><a href="/faq">faq</a></li>
    <li>{{tipo}}</li>
</ul>
{{>menu2 }}
