<div class="container">
    <form method="POST" enctype="multipart/form-data">

        <input class="form-control" type="text" name="nombre" placeholder="nombre de la canción">
        <input class="form-control" type="text" name="artista" placeholder="nombre del artista">
        <input class="form-control" type="text" name="album" placeholder="nombre del album">
        <input type="file" class="form-control" name="song" placeholder="sube una canción">
        <button class="btn btn-outline-secondary" type="submit" >dale!</button>
        
    </form>
</div>