<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" >

    <title>sube una cancion</title>
  </head>
  <body>

      <h2>sube una cancion!</h2>

    {{{body}}}

    
  </body>
</html>