<div class="container text-center">
    <h2>aqui se sube un archivo</h2>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" class="form-control" name="archivo">
        <button type="submit" class="btn btn-warning btn-lg">aprieta aqui</button>
    </form>

</div>