 

 <div class="btn-group" role="group" aria-label="Basic example">
 
  {{#each colores}}
    <a href="/{{this}}"><button type="button" class="btn btn-{{this}}">{{this}}</button></a>
  {{/each}}

</div>